/* Conact Home Page Section */
#conatiner-map{
	width: 100%;
	height: 530px;
}
.contact-right{
	padding-left: 5%;
	.contact-box{
		margin-bottom: 40px;
		h4{
			clear: both;
		    color: #333;
		    font-weight: 700;
		    font-size: 18px;
		    line-height: 22px;
		    margin-bottom: 10px;
		}
		p{
			font-size: 15px;
			color: #888;
			a{
				color: #888;
				&:hover{
					color: $preset;
				}
			}
		}
	}
}

/* Subscribe Form */
.subscribe-inner{
	padding: 80px 0;
    box-shadow: 1px 3px 20px rgba(0,0,0,0.2);
    text-align: center;
    .subscribe-title{
    	font-size: 36px;
    	margin-bottom: 30px;
    }
    p{
    	color: #888;
    	margin-bottom: 30px;
    }
    .form-control{
    	position: relative;
	    background: #fff;
	    border: 1px solid #f1f1f1;
	    border-radius: 4px;
	    box-shadow: none;
	    color: #888999;
	    height: 43px;
	    padding: 0 52px;
	    margin: 0;
	    width: 67%;
	    margin: 0 20px;
    }
    .form-control:focus{
		color: #333;
	    background-color: #fff;
	    border-color: $preset;
	    outline: 0;
	}
    .form-inline{
    	position: relative;
    	margin-bottom: 30px;
    	margin: 0 auto;
    	width: 75%;
    }
	.icon-s{
		    position: absolute;
		    top: 13px;
		    left: 36px;
	    i{
	    	font-size: 20px;
	    }
	}
}

/* Contact Forme */
#google-map-area{
	position: relative;
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
}


.text-danger {
    margin-top: 20px;
    font-size: 18px;
}
// Contact Page
.heading{
	margin-bottom: 30px;
}
.form-control{
	display: block;
    width: 100%;
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 14px;
    box-shadow: none;
    color: #333;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 12px 18px;
    border-radius: 0px;
    font-weight: 400;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.form-control:focus{
    border-color: $preset;
    outline: 0;
}

.pagination{
	.page-item{
		.page-link{
			margin: 3px;
			padding: 15px 20px;
			color: $preset;
			background: #fff;
			&:hover{
				background: $preset;
				color: #fff;
			}
		}
	}
}






