/* ==========================================================================
3. Hero Area
========================================================================== */
.intro{
	background: url(../img/hero-area.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	padding: 150px 0;
	overflow: hidden;
	position: relative;
	.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;			
		left: 0px;
		background: #0c0808;
		opacity: 0.4;
	}
	.heading-count{
		h2{
			font-size: 80px;
			margin-bottom: 10px;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
		}
	}
	.target-scroll{
		margin-top: 40px;
		display: inline-block;
		i{
			color: #fff;
			font-size: 40px;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
			transition: all 0.2s linear;
			&:hover{
				color: #ddd;
			}
		}
	}
	.btn{
		margin: 10px;
	}
}

